<%#
  ToronHot Dog
  View Templates - Search Results Page

  Start Date: March 7, 2018
  End Date: March 7, 2018

  File Name: main.html.erb

  Original Source Code © 2018 Gregory Desrosiers. All rights reserved.

%>

<h3>Sorry, no results have been found.</h3>

<div>
  <div>You can go back to the search form and change options.</div>
  <span id="goBackSearchEnginePaneLink">Back to Search</span>
</div>
