<%#
  ToronHot Dog
  View Templates - No Search Results Pane

  This pane is when the server does not find any hot dog stands upon searching
  with the user's criteria.

  VERSION 1.0
  Start Date: March 7, 2018
  End Date: April 10, 2018

  File Name: noSearchResults.html.erb

  Original Source Code © 2018 Gregory Desrosiers. All rights reserved.
%>

<h3>Sorry, no results have been found.</h3>

<div>
  <div>You can go back to the search form and change options.</div>
  <span id="goBackSearchEnginePaneLink">Back to Search</span>
</div>
