<%#
  ToronHot Dog
  View Templates - Search Results Page

  Start Date: March 7, 2018
  End Date: March 7, 2018

  File Name: main.html.erb

  Original Source Code © 2018 Gregory Desrosiers. All rights reserved.

%>

<h2>Search Results</h2>
<div>Click on one of the markers shown below to show info on the stand.</div>
<div id="goBackSearchEnginePageLink">Back to Search</div>

<div id="map" style="height: 400px; width: 100%; background-color: grey;"></div>
<div id="directionsPanel" class="border border-dark">Select a stand, then click on "Get directions" to get navigation directions.</div>
