/*
    ToronHot Dog
    Frontend - Stylesheet

    Start Date: April 7, 2018
    End Date: April , 2018

    File Name: customers.scss

    Original Source Code © 2018 Gregory Desrosiers. All rights reserved.
*/

@mixin set-font-weight($fontWeight) {
  font-weight: $fontWeight;
}

@mixin set-font-color($fontColor) {
  color: $fontColor;
}

@mixin set-cursor($cursor) {
  cursor: $cursor;
}

@mixin set-font-weight-and-cursor($fontWeight, $cursor) {
  @include set-font-weight($fontWeight);
  @include set-cursor($cursor);
}

#torontoHotDogLeftSide {
  @include set-font-color(#F00);
}

#torontoHotDogCenterSide {
  @include set-font-color(#DD0);
}

#torontoHotDogRightSide {
  @include set-font-color(#090);
}

#mainDiv {
  margin: 1.5em 0 1.5em 0;
}

.heavyText {
  @include set-font-weight(600);
}

.pleaseWaitColor {
  @include set-font-color(#000);
}

.directionsLink {
  @include set-font-color(#f00);
}

.directionsLink:hover {
  @include set-font-color(#a00a);
  @include set-font-weight-and-cursor(600, pointer);
}

.searchCriteriaBlock {
  margin: 3em 0.5em 3em 0.5em;
}

input[type="radio"]+label:hover {
  @include set-font-weight-and-cursor(600, pointer);
}

input[type="checkbox"]+label:hover {
  @include set-font-weight-and-cursor(600, pointer);
}

#goBackSearchEnginePageLink {
  color: #aa00aa;
}

#goBackSearchEnginePageLink:hover {
  @include set-font-weight-and-cursor(600, pointer);
}
